@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "intl-tel-input/build/css/intlTelInput.css";

@font-face {
  font-family: "Moul";
  src: url("/assets/fonts/Moul-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Battambang";
  src: url("/assets/fonts/Battambang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #2463eb;
  --color-secondary: #ffed4a;
  --cl-secondary-blue: #222750;
  --spacing-custom: 1.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.bg-gray {
  background-color: rgb(243, 243, 241);
}

.checked {
  fill: black;
  opacity: 0.4;
}

.disabled {
  fill: black;
  opacity: 0.5;
  pointer-events: none;
}

.reserved {
  fill: black;
  opacity: 0.5;
  pointer-events: none;
}

rect {
  transition: fill 0.3s ease;
}

rect.rect-hover {
  fill: black;
  opacity: 0.4;
  cursor: pointer;
}

.coupon-input {
  background-position: 0 3px; // Common background position for icons
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px; // Space for the icon
  background-image: url("/assets/icons/coupons.svg");
}

.ck .ck-content {
  padding-left: 40px !important;
}

.iti {
  width: 100%;
}
