@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'intl-tel-input/build/css/intlTelInput.css';
@import url('https://fonts.googleapis.com/css2?family=Kantumruy:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-primary: #2463eb;
  --color-secondary: #ffed4a;
  --cl-secondary-blue: #222750;
  --spacing-custom: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.bg-gray {
  background-color: rgb(243, 243, 241);
}

.checked {
  opacity: 0.4;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

rect {
  transition: fill 0.3s ease;
}

rect.rect-hover {
  opacity: 0.4;
  cursor: pointer;
}

.coupon-input {
  background-position: 0 3px; // Common background position for icons
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px; // Space for the icon
  background-image: url('/assets/icons/coupons.svg');
}

.ck .ck-content {
  padding-left: 40px !important;
}

.iti {
  width: 100%;
}
